.access{
    height: 100vh;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.device-img2{
    max-width:  80%;
}