.tools{
    height: 100vh;
    display: flex;
}

.cards{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card{
    height:200px;
    width: 300px;
}