.tools{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    height:auto;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 50px;
    max-width: 50px;
}